:root {
  --cols: 4;
  --rows: 7;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background: linear-gradient(red, blue);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(var(--cols), 75px);
  grid-template-rows: repeat(var(--rows), 75px);
  width: fit-content;
  border: 1px solid white;
  background-color: white;
}

#screen {
  grid-column: 1 / span var(--cols);
  grid-row: 1 / span 2;
  background-color: gray;

  font-size: 3em;
  word-wrap: break-word;
}

.right-operand {
  font-size: 1.5rem;
}

.left-operand {
  font-size: 2.5rem;
}

.right-operand,
.left-operand {
  text-align: right;
  margin-right: 25px;
  font-weight: bold;
}

.wrapper > button {
  font-size: 1.5rem;
  font-weight: bold;
}

.wrapper > button:active {
  color: gray;
}

.equals {
  background-color: turquoise;
}

.span-two {
  grid-column: auto / span 2;
}
